$SoftBlue: hsl(231, 69%, 60%);
$SoftRed: hsl(0, 94%, 66%);
$white: #fff;
$VeryDarkBlue: hsl(229, 31%, 21%);
$GrayishBlue: hsl(229, 8%, 60%);

// Breakpoints 

$small : 576px;
$Medium : 768px;
$Large : 992px;
$Xlarge : 1200px;
